/* 汇款首页 */
	/* banner */
	.hksy .ad{
		width: 100%;
		height: 441px;
		background: url(../images/second/lxhkBg.jpg) no-repeat;
		background-size: cover;
		-webkit-background-size:cover;
		position: relative;
		z-index: 1;
	}
	.hksy .adC{
		width: 100%;
		margin: 0 auto;
		padding-top: 69px;
		position: relative;
	}
	.hksy .adC h1{
		font:38px/58px "微软雅黑";
		color: #fff;
		letter-spacing: 5px;
		text-align: center;
	}
	.hksy .adC .search{
		position: relative;
		margin-top: 40px;
		margin-left:25%;
		height: 60px;

	}
	.hksy .adC input{
		padding-right: 80px;
		padding-left: 26px;
		width: 446px;
		height: 58px;
		border:1px solid #dddfdf;
		border-radius: 10px;
		font:16px/58px "微软雅黑";
		color:#444444;
		background: url(../images/second/search-btn.png) no-repeat 480px center rgba(255,255,255,.9);
	}
	.hksy .search-btn{

		width: 228px;
		height: 58px;
		border:1px solid #df6061;
		border-radius: 10px;
		background: #e26c6d;
		font: 26px/58px "微软雅黑";
		color: #fff;
		letter-spacing: 3px;
		text-align: center;
		cursor: pointer;
	}
	.hksy .search-btn:hover{
		background: #f08485;
	}
	.hksy .search-btn:active{
		background: #c75758;
	}
	.hksy .adC h2{
		padding-top: 28px;
		font: 20px/20px "微软雅黑";
		color:#fff;
	}
	.hksy .adC ul{
		margin-left:25%;
		margin-top: -50px;
		width: 552px;
		border:1px solid #dddfdf;
		border-radius: 10px;
		overflow: hidden;
		background: #fff;
		display: none;
		background: #fff;
		max-height: 400px;
		overflow: auto;

	}
	.hksy .adC li{
		width: calc(100% - 60px);
		padding:0 30px;
		height: 42px;
		border-bottom: 1px solid #dddfdf;
		font: 16px/42px "微软雅黑";
		color: #424242;
		cursor: pointer;
	}
	.hksy .adC li:hover{
		background: #e1e4eb;
	}
	.hksy .adC li.cur{
		background: #e1e4eb;
	}
	.hksy .adC .optionL{
		width: 100px;
		overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
	}
	.hksy .adC .optionC{
		width: 160px;
		margin-left: 20px;
		overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
	}
	.hksy .search-add{
		margin-left: 30px;
		font: 16px/42px "微软雅黑";
		color: #e26e6f;
		text-decoration: underline;
		cursor: pointer;
	}
	/* 特色介绍 */
	.hksy section:nth-of-type(1){
		width: 1200px;
		height: 250px;
		margin:0 auto;
	}
	.hksy section:nth-of-type(1) .img{
		position: relative;
		height: 102px;
		margin-bottom: 15px;
	}
	.hksy section:nth-of-type(1) img{
		display: block;
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translate(-50%);
	}
	.hksy section:nth-of-type(1) p{
		font: 18px/34px "微软雅黑";
		color: #0d0409;
		text-align: center;
	}
	.hksy section:nth-of-type(1) strong{
		font-size:20px;
	}
	/* 使用流程 */
	.hksy section:nth-of-type(2){
		width: 100%;
		height: 222px;
		background: #f2f2f2;
		padding-top: 28px;
	}
	.hksy section:nth-of-type(2) h1{
		margin:0 0 9px 0;
		font:bold 20px/20px "微软雅黑";
		color: #0d0409;
		text-align: center;
	}
	.hksy section:nth-of-type(2) h2{
		font: 18px/36px "微软雅黑";
		color: #0d0409;
		text-align: center;
		margin-bottom:22px;
	}
	.hksy section:nth-of-type(2) li{
		position: relative;
	}
	.hksy section:nth-of-type(2) li img{
		display: block;
		margin:0 auto;
		margin-bottom: 14px;
	}
	.hksy section:nth-of-type(2) li p{
		font: 18px/18px "微软雅黑";
		color: #828282;
		text-align: center;
	}
	.hksy section:nth-of-type(2) li .sanjiao{
		width: 18px;
		height: 16px;
		position: absolute;
		top: 35px;
		right: -9px;
		background: url(../images/second/sanjiaoR.jpg);
	}
	/* 战略合作伙伴 */
	.hksy section:nth-of-type(3){
	}
	.hksy section:nth-of-type(3) h1{
		padding-top: 38px;
		font:bold 20px/20px "微软雅黑";
		color: #0d0409;
		text-align: center;
		margin-bottom: 58px;
	}
	.hksy section:nth-of-type(3) li{
		position: relative;
		height: 100px;
	}
	.hksy section:nth-of-type(3) img{
		display: block;
		width: 140px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
/* 汇款未登录 */
.hkwdl{
	width: 100%;
	background: #f2f2f2;
	padding-top: 28px;
	padding-bottom: 20px;
}

.schoolsAdd{
	position: absolute;
	text-align: center;
    font: 18px/38px "#fff";
    border: 1px solid #74809b;
    cursor: pointer;
    border-radius: 8px;
    color: #fff;
    height: 40px;
    background: #8e98b1;
    width: 160px;
    right:380px;
    bottom: 15px;
}
.schoolsAdd:hover{
	background: #a7b2cd;
}
.schoolsAdd:active{
	background: #7a859e;
}
.hkwdl .hkwdl-auditing span.schoolsAddtrue,.hkwdl .hkwdl-auditing span.schoolsAddfalse,.hkdl .hkdl-auditing span.schoolsAddtrue,.hkdl .hkdl-auditing span.schoolsAddfalse{
	position: absolute;
	top: 400px;
	left: 850px;
	font:16px/32px "微软雅黑";
	min-width:16px;
	text-indent:28px;
	display: none;
}
.hkwdl .hkwdl-auditing span.schoolsAddtrue,.hkdl .hkdl-auditing span.schoolsAddtrue{
	background: url(../images/greenR.jpg) no-repeat 0 center;
	color: #9bd69b;

}
.hkwdl .hkwdl-auditing span.schoolsAddfalse,.hkdl .hkdl-auditing span.schoolsAddfalse{
	background: url(../images/redR.jpg) no-repeat 0 center;
	color: #eb9797;
}
.hkdl-auditing span.true,.hkwdl-auditing span.true{
		position: relative;
		background: url(../images/greenR.jpg) no-repeat 0 center;
		text-indent: 28px;
		font: 14px/42px "微软雅黑";
		color: #9bd69b;
		min-width: 16px;
		height: 42px;
		top: 0;
		left: 15px;
		display: none;
	}
	.hkdl-auditing span.false,.hkwdl-auditing span.false{
		position: relative;
		background: url(../images/redR.png) no-repeat 0 center;
		color: #eb9797;
		text-indent: 28px;
		font: 14px/42px "微软雅黑";
		min-width: 16px;
		height: 42px;
		top: 0;
		left: 15px;
		display: none;
	}
	/* 核实信息 */
	.hkdl-auditing ,.hkwdl-auditing{
		position: relative;
	}
	.hkwdl-auditing label,.hkdl-auditing label{
		margin-left: 80px;
		width: 170px;
		text-align:left;
		font: 22px/42px "微软雅黑";
		color: #5e5e5e;
		position:relative;
		text-align: right;
	}
	.hkwdl-auditing input,.hkdl-auditing input{
		outline:0;
		width: 622px;
		height: 40px;
		background: #dddfdf;
		font:18px/40px "微软雅黑";
		color: #5a5a5a;
		padding-left: 18px;
		border: 1px solid #dadada;
		border-radius: 6px;
	}
	.hkwdl-auditing div,.hkdl-auditing div{
		margin-bottom: 10px;
	}
	.hkwdl-auditing div:nth-of-type(3),.hkdl-auditing div:nth-of-type(3),.hkwdl-auditing div:nth-of-type(4),.hkdl-auditing div:nth-of-type(4){
		margin-bottom:20px;
	}
	.hkwdl-auditing span,.hkdl-auditing span{
		font: 12px/18px "微软雅黑";
		color: #bbbbbb;	
		position: absolute;
		left:65px;
		top: 39px;
		text-align: right;
	}
	.hkwdl-auditing p,.hkdl-auditing p{
		font:22px/22px "微软雅黑";
		color: #e26c6d;
		text-indent: 200px;
		margin-top: 36px;
		padding-bottom: 32px;
		width:800px;
	}
	/* 支付信息 */
	.hkwdl-zhifu{
		width: 1200px;
		margin-bottom: 10px;
		background: #fff;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		padding:0 23px;
		padding-bottom:20px;
	}
	.hkwdl .title{
		width: 100%;
		height: 57px;
		border-bottom: 1px solid #ebebec;
		font: 20px/57px "微软雅黑";
		color: #424242;
		text-indent:46px;
		background: url(../images/second/rad-blue.png) no-repeat 17px center;
	} 
	.hkwdl-zhifu-top{
		margin-top:24px;
		margin-bottom:22px;
	}
	.hkwdl-zhifu-top label{
		width: 150px;
		font: 20px/42px "微软雅黑";
		color: #424242;
		text-indent: 46px;
	}
	.hkwdl-zhifu-top .inputL{
		width: 56px;
		height:40px;
		border: 1px solid #dadada;
		background: url(../images/second/money.jpg) no-repeat 12px center #f3f3f3;
		border-radius: 5px 0 0 5px;
	}
	.hkwdl-zhifu-top input{
		padding-left: 25px;
		width: 338px;
		height: 40px;
		border: 1px solid #dadada;
		border-left:0;
		border-right:0;
		font: 16px/40px "微软雅黑";
		color: #909090;
	}
	.hkwdl-zhifu-top .inputR{
		width: 127px;
		height: 40px;
		border: 1px solid #dadada;
		border-radius: 0 5px 5px 0;
		background:#f3f3f3 ;
		text-align: center;
		font:18px/40px "微软雅黑";
		color: #424242;
		position: relative;
		cursor: pointer;
	}
	.hkwdl-zhifu-top .inputR.cur{
		background: url(../images/second/sanjiaoB.jpg) no-repeat 102px center #f3f3f3;
	}
	.hkwdl-zhifu-top .inputR.cur:hover ul{
		display: block;
	}
	.hkwdl-zhifu-top .inputR ul{
		width: 117px;
		position:absolute;
		left:0;
		top: 38px;
		border: 1px solid #dddfdf;
		font: 16px/34px "微软雅黑";
		color: #424242;
		text-align: center;
		text-indent: 0;
		border-radius:5px;
		background: #fff;
		overflow: hidden;
		display: none;
		z-index: 1;
	}
	.hkwdl-zhifu-top .inputR li:hover,.hkwdl-zhifu-top .inputR li.cur{
		background: #8e98b0;
		color:#fff;
	}
	.hkwdl-zhifu .flex4 .table-text{
		position: relative;
		z-index: 1;
		background: #fff;
		text-align: justify;
		text-indent: 18px;
		margin-top: 12px;
	}
	.hkwdl-zhifu .flex4 .table-text p{
		display:block;
		margin-bottom: 30px;
		background: url(../images/cccR.png) no-repeat 0 center;
		line-height: 19px;
	}
	.hkwdl-zhifu .table{
		margin-top: 22px;
		margin-left: 150px;
		width: 954px;
		border:1px solid #dadada;
		padding-bottom:10px;
	}
	.hkwdl-zhifu .table-top li{
		font: 18px/56px "微软雅黑";
		color: #424242;
		text-align: center;
	}
	.hkwdl-zhifu .table-bot{
		border-top: 1px solid #dadada;
		position: relative;
	}
	.hkwdl-zhifu .table-bot li{
		height:90px;
		font: 18px/90px "微软雅黑";
		color: #424242;
		text-align: center;
	}
	.hkwdl-zhifu .table-bot li.red,.hkdl-zhifu .table-bot li.red{
		overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
	}
	/* .hkwdl-zhifu .table-bot .flex3{
		padding-top: 10px;
		text-align: left;
		line-height: 36px;
	} */
	.hkwdl-zhifu .table-bot .radius-btn{
		position: absolute;
		left: 22px;
		top: 38px;
	}
	/* 留学生账户 */
	.hkwdl-zhanghu{
		background: #fff;
		padding:0 23px;
		padding-bottom: 60px;
	}
	.hkwdl-zhanghu-top{
		height: 46px;
		margin-left: 150px;
		padding-top: 22px;
	}
	.hkwdl-zhanghu-top li{
		margin-right: 50px;
	}
	.hkwdl-zhanghu-top .radius-btn{
		margin-top: 1px;
		margin-right:20px;
	}
	.hkwdl-zhanghu-top p{
		font: 18px/18px "微软雅黑";
		color: #424242;
	}

	.hkwdl-zhanghu form{
		padding-bottom: 15px;
	}
	.hkwdl-zhanghu .input{
		margin-bottom: 15px;
		height: 42px;
		position: relative;
	}
	.hkwdl-zhanghu label{
		width: 125px;
		font: 18px/42px "微软雅黑";
		color: #424242;
		text-align: right;		
		margin-right: 16px;
	}
	.hkwdl-zhanghu input{
		padding-left: 20px;
		width: 518px;
		height: 40px;
		border:1px solid #dadada;
		border-radius: 5px;
		font: 16px/40px "微软雅黑";
		color: #424242;
		margin-right: 17px;
	}
	.hkwdl-zhanghu .input .true,.hkdl-zhanghu .input .true{
		background: url(../images/greenR.jpg) no-repeat 0 center;
		text-indent: 28px;
		font: 14px/42px "微软雅黑";
		color: #9bd69b;
		display: none;
		min-width: 16px;
		height: 42px;
	}
	.hkwdl-zhanghu .input .false{
		background: url(../images/redR.jpg) no-repeat 0 center;
		text-indent: 28px;
		font: 14px/42px "微软雅黑";
		color: #eb9797;
		display: none;
		min-width: 16px;
		height: 42px;
	}
	.hkwdl-zhanghu .input .code{
		    position: absolute;
		    right: 472px;
		    top: 4px;
		    width: 110px;
		    height: 36px;
		    background: #ccc;
	}
	.hkwdl-zhanghu .box{
		padding-top:15px;
		margin-left: 150px;
		height: 16px;
		font: 14px/16px "微软雅黑";
		color: #999999;
	}
	.hkwdl-zhanghu .box-btn{
		width: 14px;
		height: 14px;
		border: 1px solid #d4d4d4;
		margin-right: 10px;
		cursor: pointer;
		background: rgb(255, 255, 255);
	}
	.hkwdl-zhanghu .box-btn.cur{
		background: url(../images/box-btn.jpg);
	}
	.hkwdl-zhanghu .box a{
		color: #5b6a91;
	}
	.hkwdl-zhanghu .Submit{
		margin-left: 150px;
		margin-top: 32px;
	}
	.hkwdl-zhanghu .Submit input{
		width: 168px;
		height: 48px;
		background: #ccc;
		border:1px solid #ccc;
		font:20px/48px "微软雅黑";
		color: #fff;
		text-align: center;
		border-radius: 10px;
		box-shadow: 3px 3px 10px #ccc;
		letter-spacing: 2px;
		padding: 0;
	}
	.hkwdl-zhanghu .Submit input.cur{
		background: #e26c6d;
		border:1px solid #e06061;
		box-shadow: 3px 3px 10px #e26c6d;
		cursor: pointer;
	}
	.hkwdl-zhanghu .Submit input.cur:hover{
		background: #f08485;
	}
	.hkwdl-zhanghu .Submit input.cur:active{
		background: #c75758;
	}
	.hkwdl-zhanghu .Submit span{
		cursor: pointer;
		font: 14px/50px "微软雅黑";
		color:#2c4773;
		margin-left: 66px;
		text-decoration: underline;
	}

/* 汇款已登录 */
.hkdl{
	width: 100%;
	background: #f2f2f2;
	padding-top: 28px;
	padding-bottom: 50px;
}
.hkdl .title{
	width: 100%;
	height: 57px;
	border-bottom: 1px solid #ebebec;
	font: 20px/57px "微软雅黑";
	color: #424242;
	text-indent:46px;
	background: url(../images/second/rad-blue.png) no-repeat 17px center;
} 
	/* 核实信息 */
	.hkdl-auditing input{
		background: #fff;
	}
	/* 支付信息 */
	.hkdl-zhifu{
		width: 1200px;
		margin-bottom: 10px;
		background: #fff;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		padding:0 23px;
		padding-bottom: 30px;
	}
	.hkdl-zhifu .table{
		margin-top: 22px;
		margin-left: 150px;
		width: 954px;
		border:1px solid #dadada;
		background: #f1f4fa;
		padding-bottom: 12px;
	}
	.hkdl-zhifu .table-top li{
		font: 18px/56px "微软雅黑";
		color: #424242;
		text-align: center;
	}
	.hkdl-zhifu .table-bot{	
		border-top: 1px solid #dadada;
		position: relative;
	}
	.hkdl-zhifu .table-bot li{
		font: 18px/50px "微软雅黑";
		color: #424242;
		text-align: center;
		padding:0 20px;
	}
	/* .hkdl-zhifu .table-bot .flex3{
		padding-top: 10px;
		text-align:center;
		line-height: 36px;
	} */
	.hkdl-zhifu .table-bot .radius-btn{
		position: absolute;
		left:30px;
		top: 18px;
		background-position: center;
	}
	.hkdl-zhifu .table-bot .close,.hkdl-zhifu .table-bot .more{
		margin-left: 20px;
		margin-top: 8px;
		border:1px solid #acb5cb;
		cursor: pointer;
		width: 137px;
		height: 33px;
		background: #fff;
		border-radius: 9px;
		text-align: center;
		font: 14px/33px "微软雅黑";
		color: #5b6a91;
		position: relative;
		top: -54px;
		z-index: 50;
	}
	.hkdl-zhifu .table-bot .more{
		background: #e4e8f2;
	}
	.hkdl-zhifu .table-text,.hkwdl-zhifu .table-text{
		font: 16px/16px "微软雅黑";
		color: #424242;
		text-indent: 45px;
		margin-top: 20px;

	}
	.hkdl-zhifu .table-text p,.hkwdl-zhifu .table-text p{
		display:block;
		height: 16px;
		margin-bottom: 14px;
		background: url(../images/cccR.png) no-repeat 25px center;
	}
	.hkdl-zhifu .table-text span,.hkwdl-zhifu .table-text span{
		color: #e26c6d;
	}
	.hkdl-zhifu .table-text a.line,.hkwdl-zhifu .table-text a.line{
		color: #e26c6d;
		text-decoration: underline;
	}
	/* 留学生信息 */
	.hkdl-zhanghu{
		background: #fff;
		padding:0 23px;
		padding-bottom: 30px;
		margin-bottom: 10px;
	}
	.hkdl-zhanghuC{
		margin-top:27px;
	}
	.hkdl-zhanghu form{
		padding-bottom: 15px;
	}
	.hkdl-zhanghu .input{
		margin-bottom: 15px;
		height: 42px;
	}
	.hkdl-zhanghu label{
		width: 125px;
		font: 18px/42px "微软雅黑";
		color: #424242;
		text-align: right;		
		margin-right: 16px;
	}
	.hkdl-zhanghu input{
		padding-left: 20px;
		width:409px;
		height: 40px;
		border:1px solid #dadada;
		border-radius: 5px;
		font: 16px/40px "微软雅黑";
		color: #424242;
		margin-right: 17px;
	}
	.hkdl-zhanghu .input .false{
		background: url(../images/redR.jpg) no-repeat 0 center;
		text-indent: 28px;
		font: 14px/42px "微软雅黑";
		color: #eb9797;
		display: none;
		min-width: 16px;
		height: 42px;
	}
	.hkdl-zhanghuC div.pinyin{
		width: 50px;
		height: 40px;
		background: #f3f3f3;
		font: 18px/40px "微软雅黑";
		color: #424242;
		text-align: center;
		border:1px solid #dadada;
		border-radius: 5px 0 0 5px;
	}
	.hkdl-zhanghuC div.pinyin:nth-of-type(2){
		border-radius:0px;
	}
	.hkdl-zhanghuC input.pinyin{
		width: 154.5px;
		border-radius: 0 5px 5px 0;
		border-left-width:0;
	}
	.hkdl-zhanghuC input.pinyin:nth-of-type(1){
		border-right-width:0;
		border-radius: 0;
		margin-right: 0;
	}
	.hkdl-zhanghuC textarea{
		padding:10px 20px;
		width:408px;
		height:100px;
		border:1px solid #dadada;
		border-radius: 5px;
		font: 16px/26px "微软雅黑";
		color: #424242;
		margin-right: 17px;
	}
	.hkdl-zhanghuC .text{
		width:370px;
		padding:10px 19px;
		border: 1px solid #dadada;
		border-radius: 8px;
		background: #f2f5fa;
		margin-top:24px;	
		padding-bottom:0;	
	}
	.hkdl-zhanghuC .text p{
		display: block;
		padding-left: 27px;
		font: 14px/22px "微软雅黑";
		color: #7c7d7f;
		text-align: justify;
		background: url(../images/imp.png) no-repeat 0 4px;
		margin-bottom: 22px;
	}
	/* 上传资料 */
	.hkdl-shangchuan{
		margin-bottom: 10px;
		background: #fff;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		padding:0 23px;
		padding-bottom: 30px;
	}
	.hkdl-shangchuan .text{
		height: 50px;
		font: 14px/52px "微软雅黑";
		color: #424242;
		text-indent: 45px;
	}
	.hkdl-shangchuan-box{
		border:1px solid #dadada;
	  	border-radius: 8px;
	  	box-sizing: border-box;
	  	-webkit-box-sizing: border-box;
	 	padding: 17px 32px;
		width: 1068px;
		margin:0 auto;
	}
	.ssi-button.choose.success{
		background: url(../images/second/choose.png) no-repeat 25px center #8b95af;
		border:1px solid #74809b;
	}
	.ssi-button.choose.success:hover{
		background: url(../images/second/choose.png) no-repeat 25px center #a7b2cd;
	}
	.ssi-button.choose.success:active{
		background: url(../images/second/choose.png) no-repeat 25px center #7a859e;
	}
	.ssi-button.success.allUp{
		float: left;
		background: url(../images/second/allUp.png) no-repeat 25px center #b5c261;
		border:1px solid #a3b06b;
	}
	.ssi-button.success.allUp:hover{
		background: url(../images/second/allUp.png) no-repeat 25px center #cbd780;
	}
	.ssi-button.success.allUp:active{
		background: url(../images/second/allUp.png) no-repeat 25px center #9fac4c;
	}
	.ssi-button.info.close,.ssi-button.info.close:hover,.ssi-button.info.close:active{
		position: absolute;
		top: -14px;
		right:37px;
		width: 12px;
		height: 13px;
		background: url(../images/second/close.png) no-repeat #fff;
		border-radius: 0;
		border:none;
	}
	.hkdl-shangchuan td.text{
		height:30px;
		font: 14px/30px "微软雅黑";
		color: #424242;
		text-indent: 0;
		text-align: center;
		text-overflow:ellipsis; white-space:nowrap; overflow:hidden;
	}
	.hkdl-shangchuan ul{
		margin-left:45px;
		margin-top:70px;
	}
	.hkdl-shangchuan li{
		font: 14px/16px "微软雅黑";
		color: #424242;
		background: url(../images/imp.png) no-repeat;
		text-indent: 28px;
		margin-bottom:12px;
	}
	/* 提交 */
	.hkdl-box{
		width: 278px;
		margin:0 auto;
		height: 16px;
		font: 14px/16px "微软雅黑";
		color: #999999;
		margin-top: 60px;
		margin-bottom: 32px;
	}
	.hkdl-box .box-btn{
		width: 15px;
		height: 15px;
		border: 1px solid #d4d4d4;
		margin-right: 10px;
		cursor: pointer;
		background: rgb(255, 255, 255);
	}
	.hkdl-box .box-btn.cur{
		background: url(../images/box-btn.jpg);
	}
	.hkdl-box a{
		color: #5b6a91;

	}
	.hkdl-Submit{
		display: block;
		margin:0 auto;
		width: 168px;
		height: 48px;
		background: #ccc;
		border:1px solid #ccc;
		font:20px/48px "微软雅黑";
		color: #fff;
		text-align: center;
		border-radius: 10px;
		box-shadow: 3px 3px 10px #ccc;
		letter-spacing: 2px;
		padding: 0;
		margin:0 auto;
	}
	.hkdl-Submit.cur{
		background: #e26c6d;
		border:1px solid #e06061;
		box-shadow: 3px 3px 10px #e26c6d;
		cursor: pointer;
	}
	.hkdl-Submit.cur:hover{
		background: #f08485;
	}
	.hkdl-Submit.cur:active{
		background: #c75758;
	}
/* 确认付款信息 */
.qehkxx{
	width: 100%;
	background: #f2f2f2;
	padding-top: 28px;
	padding-bottom: 50px;
}
.qehkxx .title{
	width: 100%;
	height: 57px;
	border-bottom: 1px solid #ebebec;
	font: 20px/57px "微软雅黑";
	color: #424242;
	text-indent:46px;
	background: url(../images/second/rad-blue.png) no-repeat 17px center;
}
.qehkxx-p{
	display: block;
	width: 1130px;
	margin:0 auto;
	font: 22px/50px "微软雅黑";
	color: #5e5e5e;
	padding-left: 70px;
	margin-bottom: 25px;
}
.qehkxx-p strong{
	font-size: 24px;
}
.qehkxx-p span{
	color: #538cc6;
}
	/* 收款信息 */
	.qehkxx-xinxi{
		background: #fff;
		background: #fff;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		padding:0 23px;
		padding-bottom: 25px;
		margin-bottom:10px;
	}
	.qehkxx-xinxi ul{
		margin-left: 80px;
		margin-top: 20px;
	}
	.qehkxx-xinxi li{
		font:16px/32px "微软雅黑";
		color: #424242;
	}
.qehkxx-btn{
	width: 398px;
	margin:0 auto;
	margin-top: 40px;
}
.qehkxx-btnL{
	width: 168px;
	height: 48px;
	background: #e26c6d;
	border:1px solid #e06061;
	font:20px/48px "微软雅黑";
	color: #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 3px 3px 10px #e26c6d;
	letter-spacing: 2px;
	padding: 0;
	margin:0 auto;
}
.qehkxx-btnL:hover{
	background: #f08485;
}
.qehkxx-btnL:active{
	background: #c75758;
}
.qehkxx-btnR{
	width: 168px;
	height: 48px;
	background: #7a8ab4;
	border:1px solid #745e7e;
	font:20px/48px "微软雅黑";
	color: #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 3px 3px 10px #745e7e;
	letter-spacing: 2px;
	padding: 0;
	margin:0 auto;
}
.qehkxx-btnR:hover{
	background: #7a8ab4;
}
.qehkxx-btnR:active{
	background: #485578;
}
/* 订单付款 */
.ddfk{
	width: 100%;
	background: #f2f2f2;
	padding-top: 28px;
	padding-bottom: 50px;
}
.ddfkC{
	background: #fff;
}
.ddfkC .title{
	width: 100%;
	height: 57px;
	font: 20px/57px "微软雅黑";
	color: #424242;
	text-indent:46px;
	background: url(../images/second/rad-blue.png) no-repeat 17px center;
	position: relative;
}
.ddfk-top{
	height: 166px;
}
.ddfk-line{
	margin:0 auto;
	margin-top: 37px;
	width: 826px;
	height: 22px;
	border:1px solid #DDDFDF;
	border-radius: 11px;
}
.ddfk-lineC{
	width: 33.3%;
	height: 22px;
	background: #B5C261;
	border-radius: 11px;
}
.ddfk-top ul{
	margin:0 auto;
	margin-top: 8px;
	width: 1100px;
}
.ddfk-top li{
	padding-top: 19px;
	font: 20px/20px "微软雅黑";
	color: #B5C261;
	text-align: center;
	background: url(../images/second/sangreen.png) no-repeat center 0;
}
.ddfk-top li.cur{
	background: url(../images/second/sanCCC.png) no-repeat center 0;
	color: #999;
}
.ddfk-middle{
	width: 100%;
	height: 196px;
}
.ddfk-middleT{
	height: 57px;
	background: #5b6a91;
	font: 22px/57px "微软雅黑";
	color: #fff;
	text-align: center;
}
.ddfk-middleT span{
	color: #fff;
}
.ddfk-middleB{
	height: 139px;
	background: #eaedf5;
}
.ddfk-middleB ul{
	padding:15px 30px;
}
.ddfk-middleB li{
	font:16px/48px "微软雅黑";
	color: #424242;
	text-align: center;
}
.ddfk-middleB span.cur{
	color: #E26C6D;
}
.ddfk-middleB .btn{
	width: 148px;
	height: 33px;
	margin:24px auto;
	border:1px solid #ACB5CB;
	background: #fff;
	cursor: pointer;
	border-radius: 8px;
	font:16px/33px "微软雅黑";
	color: #5B6A91;
	text-align: center;
}
.ddfk-bot{
	height: 400px;
}
.ddfk-bot{
	margin-top: 63px;
}
.ddfk-bot img{
	display: block;
	margin:50px auto 25px;
}
.ddfk-bot .btn{
	margin:0 auto;
	width: 228px;
	height: 48px;
	background: #B5C261;
	border: 1px solid #a3b06b;
	font: 20px/48px "微软雅黑";
	color: #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 8px;
	margin-bottom: 80px;
}
.ddfk-bot .btn:hover{
	background: #cbd780;
}
.ddfk-bot .btn:active{
	background: #9fac4c;
}
.ddfk-bot .text{
	width: 858px;
	padding: 10px 0;
	background: #fff1f1;
	border:1px solid #f9d6d7;
	margin:0 auto;
	font: 16px/28px "微软雅黑";
	color: #e26c6d;
	text-align: center;
}
 	/* 付款弹窗 */
 	.shadow-fk{
 		position: fixed;
 		left: 0;
 		top: 0;
 		width:100%;
 		background: rgba(0,0,0,.5);
 		z-index: 1;
 		display: none;
 	}
 	.shadow-fk1,.shadow-fk2{
 		padding:0 50px;
 		width: 900px;
 		height: 570px;
 		margin:0 auto;
 		margin-top:20px;
 		background: #fff;
 		position: relative;
 		display: none;
 	}
 	.shadow-fk1 h1,.shadow-fk2 h1{
		padding-top: 42px;
		font: 22px/22px "微软雅黑";
		color: #424242;
		text-align: center;
		margin-bottom: 48px;
 	}
 	.shadow-fk1 .input{
		margin-top:45px;
		height: 42px;
 	}
 	.shadow-fk1 label{
		font: 18px/44px "微软雅黑";
		margin-right: 15px;
		margin-left: 10px;
 	}
 	.shadow-fk1 input{
 		width: 318px;
 		height: 40px;
 		border:1px solid #DADADA;
 		color: #979797;
 		text-indent: 15px;
 		font: 16px/42px "微软雅黑";
 		border-radius: 8px;
 		margin-right: 15px;
 	}
 	.shadow-fk1 .bank{
 		margin-top:28px;
 	}
 	.shadow-fk1 h2{
 		font: 18px/18px "微软雅黑";
 		margin-bottom: 16px;
 	}
 	.shadow-fk1 ul{
 		width: 900px;
		height: 174px;
		overflow: auto;
		border-bottom: 1px solid #f2f2f2;
 	}
 	.shadow-fk1 li{
 		width: 210px;
 		height: 50px;
 		cursor: pointer;
 		margin-right:10px;
 		margin-bottom: 10px;
 	}
 	.shadow-fk1 li:nth-of-type(4n){
 		margin-right: 0;
 	}
 	.shadow-fk1 li img{
 		width: 206px;
 		height: 46px;
 		border:1px solid #b7c8e4;
 		padding:1px;
 		border-radius: 3px;
 	}
 	.shadow-fk1 li:hover img,.shadow-fk1 li img.cur{
 		width: 206px;
 		height: 46px;
 		border:2px solid #e26c6d;
 		padding:0;
 	}
 	.shadow-fk1 .text{
 		padding-left:18px; 
 		padding-top: 15px;
		font: 16px/26px "微软雅黑";
		color: #979797;
 	}
 	.shadow-fk1 a{
		font-size: 18px;
		text-decoration: underline;
 	}
	.shadow-fk1 .btn,.shadow-fk2 .btn{
		width: 400px;
		margin:0 auto;
		margin-top:30px;
	}
	.shadow-fk1 .btnL,.shadow-fk1 .btnR,.shadow-fk2 .btnL,.shadow-fk2 .btnR{
		width: 188px;
		height: 50px;
		font: 22px/50px "微软雅黑";
		color: #fff;
		text-align: center;
		background: #b5c261;
		border-radius: 8px;
		cursor: pointer;
	}
	.shadow-fk1 .btnL:hover,.shadow-fk2 .btnL:hover{
		background: #cbd780;
	}
	.shadow-fk1 .btnL:active,.shadow-fk2 .btnL:active{
		background: #9fac4c;
	}
	.shadow-fk1 .btnR,.shadow-fk2 .btnR{
		background: #8b95af;
	}
	.shadow-fk1 .btnR:hover,.shadow-fk2 .btnR:hover{
		background: #a7b2cd;
	}
	.shadow-fk1 .btnR:active,.shadow-fk2 .btnR:active{
		background: #7a859e;
	}
	.shadow-fk1 .close,.shadow-fk2 .close{
		position: absolute;
		top: 14px;
		right: 30px;
		width: 28px;
		height: 28px;
		background: url(../images/second/closeC.png) no-repeat;
		cursor: pointer;
	}
	.shadow-fk1 .close:hover,.shadow-fk2 .close:hover{
		background: url(../images/second/closeH.png) no-repeat;
	}
	.shadow-fk2 h1{
		padding-top: 40px;
	}
	.shadow-fk2 p{
		margin-top: 20px;
		font: 22px/48px "微软雅黑";
		color:#E26C6D;
		text-align: center;
	}
	.shadow-fk2 .btn{
		width: 516px;
		margin-top: 60px;
	}
	.shadow-fk2 .btnL,.shadow-fk2 .btnR{
		width: 230px;
	}

/* 个人资料 */
.grzl{
	width: 100%;
	background: #f2f2f2;
	padding-top: 28px;
	padding-bottom: 50px;
}
.grzlC{
	background: #fff;
	padding-bottom: 40px;
}
.grzlC .title{
	width: 100%;
	height: 57px;
	font: 20px/57px "微软雅黑";
	color: #424242;
	text-indent:46px;
	background: url(../images/second/rad-blue.png) no-repeat 17px center;
	margin-bottom: 40px;
}
.grzlC .input{
	height: 42px;
	margin-bottom:5px;
}
.grzlC label{
	width: 35%;
	margin-left: 80px;
	font: 18px/42px "微软雅黑";
	text-align: right;
}
.grzlC input{
	width: 326px;
	height: 42px;
	border:none;
	border-radius:8px;
	color: #424242;
	text-indent: 24px;
	line-height: 40px;
	font-size: 18px;
}
.grzlC .btn{
	margin-left:470px;
	width: 170px;
	height: 48px;
	cursor: pointer;
	line-height: 48px;
	text-align: center;
	margin-top:30px;
	color: rgb(226, 108, 109);
	font-size: 18px;
	text-decoration: underline;
}
/* .grzlC .btn:hover{
	background: #a7b2cd;
} */
/* .grzlC .btn:active{
	background: #7a859e;
} */
/* 忘记密码 */
.shadow-login .fgpassW label{
	width: 80px;
	background: none !important;
	text-indent: 15px;
}
.shadow-login .fgpassW input{
	width: 225px;
}
.header-xgpassW-btn{
	margin-top: 70px;
}
.shadow-xiugai label{
	width: 100px;
	text-indent: 20px;
}
/* 我的订单 */
.wdddC .title{
	width: 100%;
	height: 57px;
	font: 20px/57px "微软雅黑";
	color: #424242;
	text-indent:46px;
	background: url(../images/second/rad-blue.png) no-repeat 17px center;
	margin-bottom: 30px;
	margin-top: 15px;
}
.wdddC,.wddd{
	background:#f2f2f2;
	padding-top: 20px;
	padding-bottom: 20px;
}
.wdddL{
	width: 188px;
	background: #fff;
	padding-bottom: 50px;
	text-align: center;
}
.wdddL li{
	font: 16px/42px "微软雅黑";
	color: #fff;
	height: 42px;
	background: #8e98b1;
}
.wdddR{
	width: 992px;
	background: #fff;
	padding-bottom: 50px;
	position: relative;
}
.wddd-middle{
	width: 930px;
	border:1px solid #dadada;
	margin:0 auto;
	height:initial;
}
.wddd-middleB{
	background: #fff;
	height: 100px;
}
.wddd-top .ddfk-line{
	width:680px;
}
.wddd-top ul{
	width: 900px;
}
.wddd-top{
	height: 60px;
}
.wddd-bot{
	height: initial;
	padding-bottom:30px;
}
.wddd-bot .btn{
		margin-top: 35px;
	margin-bottom:0;
}
.wddd-top span.red{
	font: 18px/36px "微软雅黑";
	display: none;
}
.wddd-nav{
	position: absolute;
	width: 273px;
	height: 34px;
	border:1px solid #acb5cb;
	top:25px;
	left: 275px;
	border-radius: 8px;
	overflow: hidden;
}
.wddd-nav li{
	width: 136px;
	height: 34px;
	font: 16px/34px "微软雅黑";
	text-align: center;
	cursor: pointer;
}
.wddd-nav li.cur{
	background: #8e98b1;
	color: #Fff;
}
.ddfk-bot .btnL,.btnBox2 .btnR{
	margin:0 auto;
	width:168px;
	height: 48px;
	background: #B5C261;
	border: 1px solid #a3b06b;
	font: 20px/48px "微软雅黑";
	color: #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
}
.ddfk-bot .btnL:hover,.btnBox2 .btnR:hover{
	background: #cbd780;
}
.ddfk-bot .btnL:active,.btnBox2 .btnR:active{
	background: #9fac4c;
}
.btnBox1,.btnBox2{
	margin-top: 30px;
	padding-left: 530px;
	width: 370px;
}
.ddfk-bot .btnR,.btnBox2 .btnL{
	width: 168px;
	height: 48px;
	background: #8e98b1;
	border: 1px solid #848fab;
	border-radius:10px;
	cursor: pointer;
	color: #fff;
	font: 20px/48px "微软雅黑";
	text-align: center;
}
.ddfk-bot .btnR:hover,.btnBox2 .btnL:hover{
	background: #a7b2cd;
}
.ddfk-bot .btnR:active,.btnBox2 .btnL:active{
	background: #7a859e;
}
.wdddR2C{
	width: 930px;
	border:1px solid #dadada;
	margin:0 auto;
	height:initial;
	padding-bottom:26px;
}
.wdddR2C-top{
	height:57px;
	width: 100%;
	padding:0 30px;
	background: #5b6a91;
	box-sizing: border-box;
}
.wdddR2C-top div,.wdddR2C-top span{
	font:18px/57px "微软雅黑";
	color: #fff;
}
.wdddR2C ul{
	margin-left: 115px;
	margin-top:20px;
}
.wdddR2C li{
	font: 16px/36px "微软雅黑";
	width: 280px;
	margin-right:56px;
	margin-bottom: 10px;
}
.wdddR2C li span{
	color: #999;
}
.wdddR2C li.btn{
	width: 147px;
	height: 34px;
	border:1px solid #5b6a91;
	color: #5b6a91;
	text-align: center;
	font: 16px/34px "微软雅黑";
	border-radius: 8px;
	cursor: pointer;
}
/* 汇款凭证 */
.hkpz-top{
	padding-top: 30px;
	font: 16px/26px "微软雅黑";
}
.hkpz h1{
	margin-top: 30px;
	font: 34px/34px "微软雅黑";
	text-align: center;
}
.hkpz h1 span{
	font: 18px/24px "微软雅黑";
}
.hkpz table{
	width: 1200px;
	margin:0 auto;
	margin-top:40px;
	border-right:1px solid #8e98b1;
	border-bottom:1px solid #8e98b1;
}
.hkpz table th{
	border-left:1px solid #8e98b1;
	border-top:1px solid #8e98b1;
	font: 16px/30px "微软雅黑";
	text-align: center;
	background: #ebedf1;
	height: 120px;
}
.hkpz table td{
	border-left:1px solid #8e98b1;
	border-top:1px solid #8e98b1;
	font-size: 16px;
	text-indent: 60px;
}
.hkpz p{
	font: 16px/30px "微软雅黑";
	margin:40px auto;
	margin-bottom:60px;
}
.hkpz .img img{
	margin-right:20px;
	padding-bottom: 60px;
}
.hkpz-foot{
	width: 100%;
	border-top: 1px solid #e6e6e6;
	font:16px/30px "微软雅黑";
	padding:10px 0 20px;
}
/* 帮助中心 */
.bzzxC{
	padding-top: 20px;
	padding-bottom: 60px;
}
.bzzxL{
	width:262px;	
}
.bzzxL ul{
	padding-bottom: 150px;
	border:1px solid #dadada;
}
.bzzxL li{
	height:39px;
	border-bottom: 1px solid #dadada;
	font: 16px/39px "微软雅黑";
	text-indent: 30px;
	cursor: pointer;
}
.bzzxL p{
	padding-left: 8px;
	font: 18px/30px "微软雅黑";
	color: #5b6a91;
	margin-top: 40px;
}
.bzzxR{
	width: 820px;
	margin-right: 60px;
}
.bzzxR .title{
	width: 100%;
	height: 57px;
	font: 20px/57px "微软雅黑";
	color: #424242;
	text-indent:46px;
	background: url(../images/second/rad-blue.png) no-repeat 17px center;
}
.bzzxR p{
	padding-left: 47px;
	text-align: justify;
	text-indent: 2em;
	font: 14px/30px "微软雅黑";
	margin-bottom: 20px;
}
.bzzxR-title{
	height: 16px;
	font: 16px/16px "微软雅黑";
	margin-top: 20px;
}
.bzzxR-title .btn{
	margin-left: 15px;
	width: 15px;
	height: 15px;
	background: url(../images/second/bzzxBtnZ.png) no-repeat;
	cursor: pointer;
	margin-right: 16px;
	cursor: pointer;
}
.bzzxR-title .btn.cur{
	background: url(../images/second/bzzxBtn.png) no-repeat;
}
.bzzxR-text{
	font: 14px/30px "微软雅黑";
	color: #999;
	text-indent: 2em;
	padding:15px 0;
	padding-left: 47px;
}
.wdddR1{
	margin-bottom: 50px;
}
.wdddR2{
	margin-bottom: 50px;
}

/* 订单状态 */
.order-status{
	font:20px/20px "微软雅黑";
	color: red;
	text-align:center;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
/* 上传资料样式 */
.ssi-imgToUploadTable tbody{
	width: 134px !important;
}
.hkdl-shangchuan td.text{
	width: 134px !important;
}
.ssi-imgToUploadTable tr td{
	width: 134px !important;
}
/* 添加学校页面 */
.hkwdl .addText{
	font-weight: normal;
	text-indent: 200px;
}
.hkwdl .addText a{
	color: red;
	text-decoration: underline;
}